<!doctype html>
<html lang="ro">
  <head>
    <title>Dealer auto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ("../fragments/head.ejs") %>
  </head>
  <body>
    <%- include ("../fragments/navbar.ejs") %>
    <h1>Bine ati venit!</h1>
  </body>
  <%- include ("../fragments/footer.ejs") %>
</html>