<!doctype html>
<html lang="ro">
  <head>
    <title>Masini disponibile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ("../fragments/head.ejs") %>
  </head>
  <body>
    <<%- include ("../fragments/navbar.ejs") %>
    <h1>Masini disponibile pe stoc</h1>
  </body>
  <footer>
    <p>TODO - parte de admin (link disabled) - va fi grayed out daca contul nu este admin! Log in admin</p>
  </footer>
</html>