
<form>
    <div class="mb-3">
      <label for="email" class="form-label">Adresa de e-mail</label>
      <input type="email" class="form-control" placeholder="email@test.ro" id="email">
    </div>
    <div class="mb-3">
      <label for="parola" class="form-label">Parola dvs.</label>
      <input type="password" class="form-control" placeholder="parola" id="parola">
      <div id="text-parola" class="form-text">Recomandam ca parola dvs. sa aiba mai mult de 8 caractere (maxim 63), sa contina numere si caractere speciale.
      </div>
    </div>
    <div class="mb-3">
        <label for="Nume" class="form-label">Nume</label>
        <input class="form-control" type="text" placeholder="Numele dvs." aria-label="default input example">
    </div>
    <div class="mb-3">
        <label for="prenume" class="form-label">Prenume</label>
        <input class="form-control" type="text" placeholder="Prenumele dvs." aria-label="default input example">
    </div>
    <div class="mb-3">
        <label for="tel" class="form-label">Numar de telefon</label>
        <input class="form-control" type="text" placeholder="Telefon" aria-label="default input example">
    </div>
    <div class="mb-3">
        <label for="adresa" class="form-label">Adresa</label>
        <input class="form-control" type="text" placeholder="Adresa dvs." aria-label="default input example">
        <div id="text-adresa" class="form-text">Adresa este optionala, acesta este doar un test.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Creare cont!</button>
  </form>