<!doctype html>
<html lang="ro">
  <head>
    <title>Contul meu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ("../fragments/head.ejs") %>
  </head>
  <body>
    <%- include ("../fragments/navbar.ejs") %>
    <form action="/utilizator/logout" method="post">
      <button class="logout" type="submit">Sign out</button>
    </form>
    <a class="btn btn-primary" href="/utilizator/logout" role="button">Logout</a>
    <h1>Salut, <%=user_email%> </h1>
    <hr>
    <h1>Rezervarile mele</h1>
  </body>
  <%- include ("../fragments/footer.ejs") %>
</html>